<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
 <div class="field">
    <%= f.label :auther %><br />
    <%= f.text_field :auther %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>


  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,:rows=>'6'%>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

